<%= form_for(@lesson_plan) do |f| %>
  <% if @lesson_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson_plan.errors.count, "error") %> prohibited this lesson plan from being saved:</h2>

      <ul>
      <% @lesson_plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lesson %><br />
    <%= f.collection_select :lesson, Lesson.all, :id, :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
