<h1>Listing lesson plans</h1>

<table>
  <tbody>
    <% @lesson_plans.each do |lp| %>
    <tr>
      <td><%= truncate (lp.content.html_safe) %></td>
      <td><%= link_to 'Show', lp %></td>
      <td><%= link_to 'Edit', edit_lesson_plan_path(lp) %></td>
      <td><%= link_to 'Destroy', lp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New lesson plan', new_lesson_plan_path %>
