<% content_for :head do %>
<script type="text/javascript">
var initHeight;
var finHeight;
var headInitHeight;
var headFinalHeight;
var lesson_array;

$(document).on("blur", ".question", function() {
	var qid = $(this).attr("name").split("_")[1];
	var sid = <%= @student.id %>;
	var c = $(this).val();
 	$.ajax({
 		type: "POST",
 		url: "<%= answers_url %>",
 		data: {answer: {student_id: sid, question_id: qid, content: c}, authenticity_token: "<%= form_authenticity_token %>"},
 		success: function() {
 			var $save_notice = $("<p>", {innerHTML: "Saved!"});
 			$(this).append($save_notice);
 			$save_notice.fadeOut(2000);
 		},
 		error: function() {
 			alert("Problem saving data...");
 		}
	});
});
$(".drawing").each(function() {
        var tmpID = $(this).attr("id");
        var r = new RoCanvas;
            r.RO(tmpID, {
                "toolbar": {
                   colors: ["pink", "#FFF","#000","#FF0000","#00FF00","#0000FF","#FFFF00","#00FFFF"],
                   custom_color: false,
                   tools: ['path', 'circle', 'rectangle'],
                   sizes: null,
                   saveButton: {"text": "Save drawing"}            
               },
               "settings": {
                   color: 'black'        
               }
           });
});
$(document).on("click", ".drawing_save_btn", function() {
	var qid = $(this).attr("id").toString().split("_")[2];
	var sid = <%= @student.id %>;
	var c = document.getElementById("d_"+qid).toDataURL();
	$.ajax({
        	type: "POST",
		url: "<%= answers_url %>",
		data: {answer: {student_id: sid, question_id: qid, content: c}, authenticity_token: "<%= form_authenticity_token %>"},
 		success: function() {
 			alert("Saved!");
 		},
 		error: function() {
 			alert("Problem saving data...");
 		}
	});
});
$(document).on("click", ".drawing_redo_btn", function() {
	var num = $(this).data("drawing_id");
	$("#d_"+num).siblings(".completed_drawing").hide();
	$("#d_"+num).show();
	$("#d_"+num).siblings(".drawing_tools").show();
	return false;
});

$(document).on("click", ".timeline_lesson", function() {
	var lid = $(this).data("lesson_id");
	location.href = "/students/" + <%= @student.id %> + "/workbook/" + lid;
});

$(document).on("ready", function() {
	setTimelineHeight();
	$(window).resize(function() {
		updateTimelineWidth();
	});
	loadStudentMilestones("<%= around_lesson_student_milestones_url(@student, @lesson) %>", <%= student_signed_in? %>, <%= @lesson.id %>, "student");
	populate("<%= student_answers_in_lesson_url(@student.id, @lesson.id) %>", "student");
})
</script>
<% end %>
<% if @student.teacher.premium %>
	<div class="populate_student_answers">
		<%= @workbook_content.html_safe %>
	</div>
<% end %>
