<% content_for :page_script do %>
<script type="text/javascript">

$(function() {
	$(".feedback_editor").hide();
	$(document).on("blur", ".question", function() {
		var qid = $(this).attr("name").split("_")[1];
		var sid = <%= @student.id %>;
		var c = $(this).val();
	 	$.ajax({
	 		type: "POST",
	 		url: "<%= answers_url %>",
	 		data: {answer: {student_id: sid, question_id: qid, content: c}, authenticity_token: "<%= form_authenticity_token %>"},
	 		success: function() {
	 			alert("Saved!");
	 		},
	 		error: function() {
	 			alert("Problem saving data...");
	 		}
		});
	});
	$(".drawing").each(function() {
        var tmpID = $(this).attr("id");
        var r = new RoCanvas;
            r.RO(tmpID, {
                "toolbar": {
                   colors: ["pink", "#FFF","#000","#FF0000","#00FF00","#0000FF","#FFFF00","#00FFFF"],
                   custom_color: false,
                   tools: ['path', 'circle', 'rectangle'],
                   sizes: null,
                   saveButton: {"text": "Save drawing"}            
               },
               "settings": {
                   color: 'black'        
               }
           });
	});
	$(document).on("click", ".drawing_save_btn", function() {
		var qid = $(this).attr("id").toString().split("_")[2];
		var sid = <%= @student.id %>;
		var c = document.getElementById("d_"+qid).toDataURL();
		$.ajax({
        	type: "POST",
			url: "<%= answers_url %>",
			data: {answer: {student_id: sid, question_id: qid, content: c}, authenticity_token: "<%= form_authenticity_token %>"},
	 		success: function() {
	 			alert("Saved!");
	 		},
	 		error: function() {
	 			alert("Problem saving data...");
	 		}
		});
	});
	$(document).on("click", ".drawing_redo_btn", function() {
		var num = $(this).data("drawing_id");
		$("#d_"+num).siblings(".completed_drawing").hide();
		$("#d_"+num).show();
		$("#d_"+num).siblings(".drawing_tools").show();
		return false;
	})
	populate();
})

function populate() {
	$.getJSON("<%= student_answers_in_lesson_url(@student.id, @lesson.id) %>").success(function(data) {
		var tmp = $.parseJSON(data);
		$("#content").populate(tmp);
		loadDrawings(tmp);
		loadFeedbackImages(tmp);
	}).error(function(data) {
		console.log("ERROR fetching JSON!");
	});
}
function loadDrawings(d) {
	$.each(d, function(val) {
		if (val.substring(val.length-5, val.length) == "_type") {
			var input_type = d[val];
			if (input_type == "drawing_base64") {
				var num = val.split("_")[1];
				$("#d_"+num).hide();
				$("#d_"+num).siblings(".drawing_tools").hide();

				var img_tag = '<img src="'+d["q_"+num]+'" />';
				var redo_btn = '<button class="drawing_redo_btn" data-drawing_id="'+num+'">Redo drawing</button>';
				var display_div = '<div class="completed_drawing">'+img_tag+'<br />'+redo_btn+'</div>';
				$("#d_"+num).parent().append(display_div);
			}
		}
	});
}
function loadFeedbackImages(d) {
	$.each(d, function(val) {
		if (val.substring(val.length-7, val.length) == "_status") {
			var tmp = d[val];
			$("#"+val.substring(0, 3)+"_image").attr("src", "/assets/workspace/"+tmp+"_button.png");
		}
	});
}

</script>
<% end %>

<%= @workbook_content.html_safe %>