<% content_for :page_script do %>
<script type="text/javascript">

$(function() {
	$(".feedback_editor").hide();
	$(document).on("blur", ".question", function() {
		var qid = $(this).attr("name").split("_")[1];
		var sid = <%= @student.id %>;
		var c = $(this).val();
	 	$.ajax({
	 		type: "POST",
	 		url: "<%= answers_url %>",
	 		data: {answer: {student_id: sid, question_id: qid, content: c}, authenticity_token: "<%= form_authenticity_token %>"},
	 		success: function() {
	 			alert("Saved!");
	 		},
	 		error: function() {
	 			alert("Problem saving data...");
	 		}
		});
	});
	$(".drawing").each(function() {
        var tmpID = $(this).attr("id");
        var r = new RoCanvas;
            r.RO(tmpID, {
                "toolbar": {
                   colors: ["pink", "#FFF","#000","#FF0000","#00FF00","#0000FF","#FFFF00","#00FFFF"],
                   custom_color: false,
                   tools: ['path', 'circle', 'rectangle'],
                   sizes: null,
                   saveButton: {"text": "Save drawing"}            
               },
               "settings": {
                   color: 'black'        
               }
           });
	});
	$(document).on("click", ".drawing_save_btn", function() {
		var qid = $(this).attr("id").toString().split("_")[2];
		var sid = <%= @student.id %>;
		var c = document.getElementById("d_"+qid).toDataURL();
		$.ajax({
        	type: "POST",
			url: "<%= answers_url %>",
			data: {answer: {student_id: sid, question_id: qid, content: c}, authenticity_token: "<%= form_authenticity_token %>"},
	 		success: function() {
	 			alert("Saved!");
	 		},
	 		error: function() {
	 			alert("Problem saving data...");
	 		}
		});
	});
	$(document).on("click", ".drawing_redo_btn", function() {
		var num = $(this).data("drawing_id");
		$("#d_"+num).siblings(".completed_drawing").hide();
		$("#d_"+num).show();
		$("#d_"+num).siblings(".drawing_tools").show();
		return false;
	})
	populate();
})

function populate() {
	$.getJSON("<%= student_answers_in_lesson_url(@student.id, @lesson.id) %>").success(function(answers) {
		for (var i = 0; i < answers.length; i++) {
			var answer = answers[i].answer;
			switch (answer.question.input_type) {
				case "text":
					$("[name=q_"+answer.question.id+"]").val(answer.content);
					break;
				case "drawing_base64":
					replaceDrawing(answer);
					break;
				default:
					console.log("Input type not recognized for Answer#"+answer.id);
					break;
			}
			displayFeedback(answer);
		}
		//loadFeedbackImages(tmp);
	}).error(function(data) {
		console.log("Error fetching answer JSON.");
	});
}
function replaceDrawing(answer) {
	$("#d_"+answer.question.id).hide();
	$("#d_"+answer.question.id).siblings(".drawing_tools").hide();
	var img_tag = '<img src="'+answer.content+'" />';
	var redo_btn = '<button class="drawing_redo_btn" data-drawing_id="'+answer.question.id+'">Redo drawing</button>';
	var display_div = '<div class="completed_drawing">'+img_tag+'<br />'+redo_btn+'</div>';
	$("#d_"+answer.question.id).parent().append(display_div);
}
function displayFeedback(answer) {
	if (answer.feedback != null) {
		$("[name=f_"+answer.question.id+"]").val(answer.feedback);
	}
	if (answer.feedback_status != null) {
		var feedbackTypes = ["incomplete", "correct", "incorrect"];
		if ($.inArray(answer.feedback_status, feedbackTypes) > -1) {
			$("#f_"+answer.question.id+"_image").attr("src", "/assets/workspace/"+answer.feedback_status+"_button.png");
		} else {
			console.log("Feedback status not recognized for Answer#"+answer.id);
		}
	}
}

</script>
<% end %>

<%= @workbook_content.html_safe %>