<div id="section_head">
  <div id="teacher_section_settings_container">
    <div id="teacher_section_settings">
     <div class="table_head">
       <h1><%= @section.name %></h1>
     </div>
     <div class="table_body">
       
      <div id="section_current_lesson">
        This section is currently on 
        <br /><%= grouped_collection_select :lesson, :id, Unit.all, :lessons, :title, :id, :title, {}, {:id => "lesson_select_menu"}%>
        <br /><br />
        <div>
          <div><%= link_to image_tag("workspace/button_planning.png"), planning_teachers_path(@section.lesson) %></div>
          <div><%= link_to image_tag("workspace/button_grading.png"), grading_teachers_path(lesson: @section.lesson, section: @section) %></div>
          <div><%= link_to image_tag("workspace/button_in_class.png"), in_class_teachers_path(@section.lesson) %></div>
        </div>
        This section's class code is <h1><%= @section.code %></h1>
      </div>

      <div> 
        <%= link_to edit_section_path(@section) do %>
          <div class="workspace_button">
            Edit
          </div>
        <% end %>
        <%= link_to teacher_path(current_teacher) do %>
          <div class="workspace_button">
            Back
          </div>
        <% end %>
      </div>


     </div>
    </div>
  </div>
</div>
<div id="student_grid">
  <div>
    <% @section.students.each do |s| %>
      <a href="<%= workbook_student_path(s) %>" class="teacher_student">
        <h1><%= s.display_name %></h1>
      </a>
    <% end %>
  </div>
</div>
