<div id="section_head">
  <div id="teacher_section_settings_container">
    <div id="teacher_section_settings">
     <div class="table_head">
       <h1><%= @section.name %></h1>
     </div>
     <div class="table_body">
       
      <div id="section_current_lesson">
        This section is currently on 
        <%= grouped_collection_select :lesson, :id, Unit.all, :lessons, :title, :id, :title, {}, {:id => "lesson_select_menu"}%>
        <br /><br />
        This section's class code is <h1><%= @section.code %></h1>
      </div>
      <div> 
        <%= link_to edit_section_path(@section) do %>
          <div class="workspace_button">
            Edit
          </div>
        <% end %>
        <%= link_to sections_path do %>
          <div class="workspace_button">
            Back
          </div>
        <% end %>
      </div>


     </div>
    </div>
  </div>
</div>
<div id="student_grid">
  <div>
    <% @section.students.each do |s| %>
      <a href="<%= workbook_student_path(s) %>" class="teacher_student">
        <h1><%= s.display_name %></h1>
      </a>
    <% end %>
  </div>
</div>
