<% content_for :head do %>
<script type="text/javascript">
$(document).on("ready", function() {
  $("#lesson_save_options").hide();
  $("#save_lesson_select_menu").on("change", function() {
    $("#lesson_save_options").slideDown();
  });
});
$(document).on("ajax:complete", '#update_section', function(evt, resp) {
    if (resp.status >= 200 && resp.status < 300 || resp.status === 304) {
      $("#lesson_save_options").slideUp();
    } else {
      alert("Sorry -- there was an error saving your changes.");
    }
  });
</script>
<% end %> 

<div id="section_head">
  <div id="teacher_section_settings_container">
    <div id="teacher_section_settings">
     <div class="table_head">
       <h1><%= @section.name %></h1>
     </div>
     <div class="table_body">
       
      <div id="section_current_lesson">
        <div class="section_info">
          <%= form_tag(update_section_lesson_teacher_path, {method: :post, remote: true, authenticity_token: false, id: "update_section"}) do %>
            <p>
              <label>This section is currently on...<br />
                <%= grouped_collection_select :section, :lesson_id, Unit.all, :lessons, :full_title, :id, :abbr_title, {}, {:id => "save_lesson_select_menu"}%>
              </label>
            </p>
            <div id="lesson_save_options">
              Also update... 
              <% current_teacher.sections.each do |s| %>
                <% if s == @section %>
                  <%= hidden_field_tag "section_ids[]", s.id %>
                <% else %>
                  <label>
                    <%= check_box_tag "section_ids[]", s.id %>
                    <%= s.name %>
                  </label>
                <% end %>
              <% end %>
              <br />
              <%= submit_tag "Save" %>
            </div>
          <% end %>
        </div>
        <div class="section_info">
          <div><%= link_to image_tag("workspace/button_planning.png"), planning_teachers_path(@section.lesson) %></div>
          <div><%= link_to image_tag("workspace/button_grading.png"), grading_teachers_path(@section.lesson, 0, @section) if current_teacher.premium %></div>
          <div><%= link_to image_tag("workspace/button_in_class.png"), in_class_teachers_path(@section.lesson) %></div>
          <div><%= link_to image_tag("workspace/button_guide.png"), guide_teachers_path(@section.lesson) %></div>
        </div>
        <p>This section's class code is <em><%= @section.code %></em></p>
      </div>

      <div> 
        <%= link_to edit_section_path(@section) do %>
          <div class="workspace_button">
            Edit
          </div>
        <% end %>
        <%= link_to teacher_path(current_teacher) do %>
          <div class="workspace_button">
            Back
          </div>
        <% end %>
      </div>


     </div>
    </div>
  </div>
</div>
<div id="student_grid">
  <% if @section.students.empty? %>
    <h1>This class is empty.</h1>
    <p>Invite your students to create their own accounts using the class code <strong><%= @section.code %></strong>.</p>
  <% else %>
    <div>
    <% @section.students.order(:last_name, :first_name).each do |s| %>
      <a href="<%= grading_teachers_path(@section.lesson, s, @section) %>" class="teacher_student">
        <h1><%= s.display_name %></h1>
      </a>
    <% end %>
  </div>
  <% end %>
</div>
