<p id="notice"><%= notice %></p>
<div class="student_overview_titles"
  <p>
    <strong>Name:</strong>
    <%= @section.name %>
  </p>
</div>
<div class="student_overview_titles"
  <p>
    <strong>Teacher:</strong>
    <%= @section.teacher.display_name %>
  </p>
</div>
<div class="student_overview_titles"
  <p>
    <strong>Code:</strong>
    <%= @section.code %>
  </p>
</div>
<div id="student_grid">
  <div>
    <% @section.students.each do |s| %>
      <a href="<%= workbook_student_path(s) %>" class="teacher_student">
        <h1><%= s.display_name %></h1>
      </a>
    <% end %>
  </div>
  <div> 
    <%= link_to edit_section_path(@section) do %>
      <div class="workspace_button">
        Edit
      </div>
    <% end %>
    <%= link_to sections_path do %>
      <div class="workspace_button">
        Back
      </div>
    <% end %>
  </div>
</div>
