<% content_for :head do %>
<script type="text/javascript">
$(function() {
  $("#lesson_save_options").hide();
  $("#lesson_select_menu").on("change", function() {
    $("#lesson_save_options").slideDown();
  })
});
</script>
<% end %> 

<div id="section_head">
  <div id="teacher_section_settings_container">
    <div id="teacher_section_settings">
     <div class="table_head">
       <h1><%= @section.name %></h1>
     </div>
     <div class="table_body">
       
      <div id="section_current_lesson">
        <div class="section_info">
          <%= form_tag(update_section_lesson_teacher_path, {method: :post, remote: true, authenticity_token: false}) do %>
            <p>
              <label>This section is currently on...<br />
                <%= grouped_collection_select :section, :lesson_id, Unit.all, :lessons, :title, :id, :title, {}, {:id => "lesson_select_menu"}%>
              </label>
            </p>
            <div id="lesson_save_options">
              Also update... 
              <% current_teacher.sections.each do |s| %>
                <% if s == @section %>
                  <%= hidden_field_tag "section_ids[]", s.id %>
                <% else %>
                  <label>
                    <%= check_box_tag "section_ids[]", s.id %>
                    <%= s.name %>
                  </label>
                <% end %>
              <% end %>
              <br />
              <%= submit_tag "Save" %>
            </div>
          <% end %>
        </div>
        <div class="section_info">
          <div><%= link_to image_tag("workspace/button_planning.png"), planning_teachers_path(@section.lesson) %></div>
          <div><%= link_to image_tag("workspace/button_grading.png"), grading_teachers_path(@section.lesson, 0, @section) %></div>
          <div><%= link_to image_tag("workspace/button_in_class.png"), in_class_teachers_path(@section.lesson) %></div>
        </div>
        <p>This section's class code is <strong><%= @section.code %></strong></p>
      </div>

      <div> 
        <%= link_to edit_section_path(@section) do %>
          <div class="workspace_button">
            Edit
          </div>
        <% end %>
        <%= link_to teacher_path(current_teacher) do %>
          <div class="workspace_button">
            Back
          </div>
        <% end %>
      </div>


     </div>
    </div>
  </div>
</div>
<div id="student_grid">
  <div>
    <% @section.students.each do |s| %>
      <a href="<%= grading_teachers_path(@section.lesson, s, @section) %>" class="teacher_student">
        <h1><%= s.display_name %></h1>
      </a>
    <% end %>
  </div>
</div>
