<h1>Listing lessons</h1>

<table style="width: 100%;">
  <thead>
    <tr>
      <th>Title</th>
			<th>Completed?</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
    <tr>
      <td><%= lesson.full_title %></td>
			<td><%= (lesson.completed) ? "Y" : "" %>
      <td><%= link_to 'TG Editor', lesson %></td>
      <td><%= link_to 'Basic editor', edit_lesson_path(lesson) %></td>
      <td><%= link_to 'Mercury editor', "/editor/lessons/#{lesson.id}" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Lesson', new_lesson_path %>
