<h1>Listing lessons</h1>

<table class="with_border" id="lessons_list">
  <thead>
    <tr>
      <th>Title</th>
			<th>Completed?</th>
      <th width="75px"></th>
      <th width="75px"></th>
      <th width="75px"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
    <tr>
      <td><%= lesson.full_title %></td>
			<td><%= (lesson.completed) ? "Y" : "" %>
      <td><%= link_to 'TG', lesson %></td>
      <td><%= link_to 'Basic', edit_lesson_path(lesson) %></td>
      <td><%= link_to 'Mercury', "/editor/lessons/#{lesson.id}" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Lesson', new_lesson_path %>
