<% content_for :head do %>
<%= @lesson.unit.custom_css.html_safe unless @lesson.unit.custom_css.nil? %>
<% end %>
<% content_for :page_script do %>
<script type="text/javascript">
$(document).on("ready", function() {
	$('#workspace').find('.feedback').hide();
	$("#resource").hide();
	populateTGAnswers("<%= in_lesson_questions_url(@lesson.id) %>");
});
$(document).on("blur", ".question", function() {
	var qid = $(this).attr("name").split("_")[1];
	var c = $(this).val();
	var $img = $("<img>", {class: "answer_response_img", src: "/images/_spinner.gif"});
	$img.insertAfter($(this));
 	$.ajax({
 		type: "POST",
 		url: "<%= questions_url %>",
 		data: {question: {id: qid, tg_answer: c}, authenticity_token: "<%= form_authenticity_token %>"},
 		success: function() {
 			$img.attr("src", "/images/check.png");
 			$img.fadeOut(750);
 		},
 		error: function() {
 			alert("Problem saving data...");
 		}
	});
});
$(document).on("change", ".question_checkbox", function() {
	var qid = $(this).attr("name").split("_")[1];
	var c = $(this)[0].checked;
	var $img = $("<img>", {class: "answer_response_img", src: "/images/_spinner.gif"});
	$img.insertAfter($(this));
 	$.ajax({
 		type: "POST",
 		url: "<%= questions_url %>",
 		data: {question: {id: qid, tg_answer: c}, authenticity_token: "<%= form_authenticity_token %>"},
 		success: function() {
 			$img.attr("src", "/images/check.png");
 			$img.fadeOut(750);
 		},
 		error: function() {
 			alert("Problem saving data...");
 		}
	});
})
</script>
<% end %>

<p id="notice"><%= notice %></p>

<p id="teachers_guide_notice">You are currently editing the teachers' guide. Any changes made to answers on this page will be saved as answers in the teachers' guide (pending approval).</p>

<div id="workbook_editor" class="mercury-region" data-type="editable" contenteditable="true" data-mercury="full">
	<%= @lesson.content.gsub(/\\r\\n/, "").html_safe %>
</div>

<%= link_to 'Edit', "/editor" + request.path, id: "edit_link", data: {save_url: mercury_update_lesson_path(@lesson)} %> |
<%= link_to 'Back', lessons_path %> |
<%= link_to "Next lesson", "/editor/lessons/#{@lesson.next.id}" unless @lesson.next.nil? %>
