<% content_for :page_script do %>
<script type="text/javascript">
	var lesson_id = <%= params[:lesson_id] %>;
	var student_id = <%= params[:student_id] %>;
	$(document).ready(function() {
		resizeWindow();
		$("#lesson_select_menu").val(lesson_id + "");
		$("#student_select_menu").val(student_id + "");
		$("#lesson_select_menu").on('change', function(val) {
			lesson_id = $(this).val();
			location.href = "<%= grading_teachers_path %>/student/"+student_id+"/lesson/"+lesson_id;
		});
		$("#student_select_menu").on('change', function(val) {
			student_id = $(this).val();
			location.href = "<%= grading_teachers_path %>/student/"+student_id+"/lesson/"+lesson_id;
		});
	});
	window.onresize = function() {
		resizeWindow();
	}
	function resizeWindow() {
		var num = window.innerHeight;
		var middleHeight = window.innerHeight - (document.getElementById('head').offsetHeight + 16) + 15;
		var middle = document.getElementById('workspace');
		$(middle).css("height", middleHeight);
	}
</script>
<% end %>
<div id="grading_area" class="half_width float_left">
	<div id="student_search">
		<a href="#" onClick="changeStudent(1);" id="arrow_right"></a>
		<a href="#" onClick="changeStudent(-1);" id="arrow_left"></a>
		<%= grouped_collection_select :student, :id, Section.by_teacher(current_teacher.id), :students, :name, :id, :display_name, {}, {:id => "student_select_menu"}%>
		<%= grouped_collection_select :lesson, :id, Unit.all, :lessons, :title, :id, :title, {}, {:id => "lesson_select_menu"}%>
	</div>

	

	<div id="student_workbook">
		<%= @lesson.content.gsub("\\r\\n", "").html_safe %>
	</div>
</div>


<div id="teacher_guide_workbook" class="half_width float_left">
	<%= @lesson.content.gsub("\\r\\n", "").html_safe %>

<br class="clear_float" />