<% content_for :head do %>
<%= @lesson.unit.custom_css.html_safe unless @lesson.unit.custom_css.nil? %>
<% end %>
<% content_for :page_script do %>
<script type="text/javascript">

$(document).on("blur", ".feedback_txt", function() {
	var info = $(this).attr("name").split("_");
	var type = info[0];
	if (type == "f") {
		var feed_type = "Answer";
		var qid = info[1];
		var feed_id = $("#f_"+qid).data("answer_id");
	} else if (type == "m") {
		var feed_type = "Milestone";
		var feed_id = info[1];
	}
	var feed_content = $(this).val();
	var d = {feedback: {content: feed_content, feedbackable_type: feed_type, feedbackable_id: feed_id}, authenticity_token: "<%= form_authenticity_token %>"};
 	saveFeedback("<%= feedbacks_path %>", d, $(this).parent(), false);
});
$(document).on("click", ".feedback_correct_btn", function() {
	saveStatusFeedback("<%= feedbacks_url %>", $(this), "correct", "<%= form_authenticity_token %>");
});
$(document).on("click", ".feedback_incomplete_btn", function() {
	saveStatusFeedback("<%= feedbacks_url %>", $(this), "incomplete", "<%= form_authenticity_token %>");
});
$(document).on("click", ".feedback_incorrect_btn", function() {
	saveStatusFeedback("<%= feedbacks_url %>", $(this), "incorrect", "<%= form_authenticity_token %>");
});

var initHeight;
var finHeight;
var headInitHeight;
var headFinalHeight;
var lesson_array;

var lesson_id = <%= params[:lesson_id] %>;
var student_id = <%= params[:student_id] %>;
$(document).on("ready", function() {
	setTimelineHeight();
	resizeWindow();
	hideTG();
	loadStudentMilestones("<%= around_lesson_student_milestones_url(@student, @lesson) %>", <%= student_signed_in? %>, <%= @lesson.id %>, "teacher", <%= @student.id %>);
	populate("<%= student_answers_in_lesson_url(@student.id, @lesson.id) %>", "teacher");
});
$(document).on('change', "#lesson_select_menu", function(val) {
	lesson_id = $(this).val();
	location.href = "/teachers/grading/lesson/"+lesson_id+"/student/"+<%= params[:student_id] %>+"/section/"+<%= params[:section_id] %>;
});
$(document).on('change', "#student_select_menu", function(val) {
	student_id = $(this).val();
	location.href = "/teachers/grading/lesson/"+<%= params[:lesson_id] %>+"/student/"+student_id+"/section/"+<%= params[:section_id] %>;
});
$(document).on("click", "#student_arrow_right", function() {
	var current_id = $("#student_select_menu").val();
	var current_index = $("#student_select_menu")[0].selectedIndex;
	var total_num = $("#student_select_menu option").length;
	if (current_index < total_num - 1) {
		var next_index = current_index + 1;
		var next_value = $("#student_select_menu")[0][next_index].value;
		location.href = "/teachers/grading/lesson/"+<%= params[:lesson_id] %>+"/student/"+next_value+"/section/"+<%= params[:section_id] %>;
	}
	return false;
});
$(document).on("click", "#student_arrow_left", function() {
	var current_id = $("#student_select_menu").val();
	var current_index = $("#student_select_menu")[0].selectedIndex;
	var total_num = $("#student_select_menu option").length;
	if (current_index > 0) {
		var next_index = current_index - 1;
		var next_value = $("#student_select_menu")[0][next_index].value;
		location.href = "/teachers/grading/lesson/"+<%= params[:lesson_id] %>+"/student/"+next_value+"/section/"+<%= params[:section_id] %>;
	}
	return false;
});
window.onresize = function() {
	resizeWindow();
}
function resizeWindow() {
	var num = window.innerHeight;
	var middleHeight = window.innerHeight - (document.getElementById('head').offsetHeight + 16) + 15;
	var middle = document.getElementById('workspace');
	$(middle).css("height", middleHeight);
}
function showTG() {
	$("#tg").show();
	$("#grading_area").css("max-width", "50%");
	$("#grading_area").css("float", "left");
}
function hideTG() {
	$("#tg").hide();
	$("#grading_area").css("max-width", "100%");
	$("#grading_area").css("float", "none");
}
$(document).on("change", "#show_tg", function() {
	if ($(this).is(":checked")) {
		showTG();
	} else {
		hideTG();
	}
})
</script>
<% end %>

<label id="tg_toggle"><%= check_box_tag "show_tg" %> Show the teachers' guide</label>

<div id="grading_area" class="half_width float_left populate_student_answers">
	<div id="student_search">
		<%= link_to "", "#", id: "student_arrow_right" %>
		<%= link_to "", "#", id: "student_arrow_left" %>
		<%= grouped_collection_select :student, :id, Section.by_teacher(current_teacher.id), :students, :name, :id, :display_name, {}, {:id => "student_select_menu"}%>
		<%= grouped_collection_select :lesson, :id, Unit.all, :lessons, :full_title, :id, :abbr_title, {}, {:id => "lesson_select_menu"}%>
	</div>

	<div id="student_workbook">
		<%= @lesson.display_completed_lesson %>
	</div>
</div>


<div id="tg" class="teacher_guide_workbook half_width float_left">
	<%= @lesson.display_completed_lesson %>
	<br class="clear_float" />
</div>