<% content_for :head do %>
<%= @lesson.unit.custom_css.html_safe unless @lesson.unit.custom_css.nil? %>
<% end %>
<% content_for :page_script do %>
<script type="text/javascript">
$(document).on("ready", function() {
	setTimelineHeight(<%= current_teacher.premium %>);
});
</script>
<% end %>


<div id="workbook" class="full_width">
	<% unless flash[:notice].nil? %>
		<p class="flash_notice"><%= flash[:notice]%></p>
	<% end %>
	<% unless flash[:error].nil? %>
		<p class="flash_error"><%= flash[:error] %></p>
	<% end %>

	<%= @lesson.display_completed_lesson %>
</div>