<% content_for :page_script do %>
<script type="text/javascript">
$(document).on("ready", function() {
	resizeWindow();
	setTimelineHeight(true);
});
$(document).on('change', "#lesson_select_menu", function(val) {
	var loc = $(this).val();
	console.log("Redirecting to..."+loc);
	location.href = "/teachers/planning/"+loc;
});
window.onresize = function() {
	resizeWindow();
}
function resizeWindow() {
	var num = window.innerHeight;
	var middleHeight = window.innerHeight - (document.getElementById('head').offsetHeight + 16) + 15;
	var middle = document.getElementById('workspace');
	$(middle).css("height", middleHeight);
}
</script>
<% end %>
<% content_for :head do %>
<style>
	#content {
		margin: 20px;
	}
</style>
<% end %>


<div id="lessonplan" class="half_width">
	<div id="lessons">
		<div id="student_search">
			<%= grouped_collection_select :lesson, :id, Unit.all, :lessons, :title, :id, :title, {}, {:id => "lesson_select_menu"}%>
		</div>
		<div id="lessonplans">
			<%= @lesson_plan.content.gsub("\\r\\n", "").html_safe %>
		</div>
	</div>
</div>

<div id="workbook_example" class="half_width">
	<div id="workbook_tools">
	</div>
	<% unless flash[:notice].nil? %>
		<p class="flash_notice"><%= flash[:notice]%></p>
	<% end %>
	<% unless flash[:error].nil? %>
		<p class="flash_error"><%= flash[:error] %></p>
	<% end %>
	<div id="lesson">
		<%= @workbook_content.html_safe %>
	</div>
</div>