
<div id="lessonplan" class="half_width">
	<div id="lessons">
		<div id="selectMenu">
		
		</div>
		<div id="lessonplans">
			<%= @lesson_plan.content.gsub("\\r\\n", "").html_safe %>
		</div>
	</div>
</div>

<div id="workbook" class="half_width">
	<div id="workbook_tools">
		<label><input type="checkbox" checked=checked onChange="toggleLessonSelect();" />Sync with Lesson Plans</label>
		<div id="selectMenu2"></div>
	</div>
	<div id="content">
		<% unless flash[:notice].nil? %>
			<p class="flash_notice"><%= flash[:notice]%></p>
		<% end %>
		<% unless flash[:error].nil? %>
			<p class="flash_error"><%= flash[:error] %></p>
		<% end %>

		<h1><%= "Unit #{@unit.number}" %></h1>
		<h2><%= "What is language" %></h2>
		<h4><%= "Lesson 1: #{@lesson_plan.lesson.title}" %></h4>

		<%= @workbook_content.html_safe %>

	</div>
</div>