<div id="about_nav">
	<h3>About Prima Lingua</h3>
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "General info", about_general_info_path %></li>
		<li><%= link_to "Workbook Contents", about_workbook_contents_path %></li>
		<li><%= link_to "History", about_history_path %></li>
		<li><%= link_to "Who uses PL", about_who_uses_pl_path %></li>
		<li><%= link_to "Contact us", about_contact_us_path %></li>
	</ul>
	<h3>For teachers</h3>
	<ul>
		<li><%= link_to "Goals", about_goals_path %></li>
		<li><%= link_to "Requirements", about_requirements_path %></li>
		<li><%= link_to "What is included", about_what_is_included_path %></li>
		<%# link_to "Request more information" %>
		<%# link_to "Order form" %>
		<%# link_to "Training sessions" %>
	</ul>
</div>