<div id="about_nav">
	<h3>About Prima Lingua</h3>
	<ul>
		<li><%= link_to "Home", root_url %></li>
		<li><%= link_to "Who is PL for?", :controller => "about", :action => "who_is_it_for" %></li>
		<li><%= link_to "PL and Your Curriculum", :controller => "about", :action => "in_your_curriculum" %></li>
		<li><%= link_to "What's in PL?", :controller => "about", :action => "whats_in_it" %></li>
		<li><%= link_to "Workbook Contents", :controller => "about", :action => "workbook" %></li>
		<li><%= link_to "Online Resources", :controller => "about", :action => "tour_online_resources" %></li>
		<li><%= link_to "Subscribing", :controller => "about", :action => "subscribing" %></li>
		<li><%= link_to "History", :controller => "about", :action => "history" %></li>
	</ul>
	<h3>For Teachers</h3>
	<ul>
		<li><%= link_to "Home", root_url %></li>
		<li><%= link_to "Who is PL for?", :controller => "about", :action => "who_is_it_for" %></li>
		<li><%= link_to "PL and Your Curriculum", :controller => "about", :action => "in_your_curriculum" %></li>
	</ul>
	<h3>For Administrators</h3>
	<ul>
		<li><%= link_to "Home", root_url %></li>
		<li><%= link_to "Who is PL for?", :controller => "about", :action => "who_is_it_for" %></li>
		<li><%= link_to "PL and Your Curriculum", :controller => "about", :action => "in_your_curriculum" %></li>
	</ul>
	<h3>For Parents</h3>
	<ul>
		<li><%= link_to "Home", root_url %></li>
		<li><%= link_to "Who is PL for?", :controller => "about", :action => "who_is_it_for" %></li>
		<li><%= link_to "PL and Your Curriculum", :controller => "about", :action => "in_your_curriculum" %></li>
		<li><%= link_to "What's in PL?", :controller => "about", :action => "whats_in_it" %></li>
	</ul>
</div>