<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= yield(:title) or 'Prima Lingua' %></title>
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
	<link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/png" href="/favicon.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="ios_icon.png" />
	<%= yield(:head) %>
	<%= yield(:page_script) %>
</head>
<body id="windowed">
	<div id="header">
		<%= link_to image_tag("header_home_link.gif"), root_url, id: "header_home_link" %>
		<%= link_to image_tag("button_login_student.png"), new_student_session_path, id: "login_student_btn" %>
		<%= link_to image_tag("button_login_teacher.png"), new_teacher_session_path, id: "login_teacher_btn" %>
		<br class="clearFloat" />
		<% if admin_signed_in? %>
			<div id="nav">
				<ul>
					<li><%= link_to "Teachers", teachers_path %></li>
					<li><%= link_to "Units", units_path %></li>
					<li><%= link_to "Lessons", lessons_path %></li>
					<li><%= link_to "Lesson Plans", lesson_plans_path %></li>
					<li><%= link_to "Resources", resources_path %></li>
					<li><%= link_to "Sign out", destroy_admin_session_path %></li>
				</ul>
			</div>
		<% end %>
	</div>
 	<div id="body">
		<div class="wrapper">
			<% unless flash[:notice].nil? %>
				<p class="flash_notice"><%= flash[:notice]%></p>
			<% end %>
			<% unless flash[:error].nil? %>
				<p class="flash_error"><%= flash[:error] %></p>
			<% end %>
			<%= yield %>
		</div>
		<div id="body_footer"></div>
	</div>
	<div id="footer">
		<div id="animat_links">
			<div id="linguazone">
				<%= link_to image_tag("footer/linguazone_frog.gif"), "http://www.linguazone.com" %>
				<h4>LinguaZone</h4>
				<p class="tag_line">Online teaching tools<br />customized for your classroom</p>
			</div>
			<div id="lz_camps">
				<%= link_to image_tag("footer/camp_frog.gif"), "http://www.lzacademy.com" %>
				<h4>LZ Language Academy</h4>
				<p class="tag_line">Summer camps in 10 languages<br /> for ages 4 - 17 in Suburban Philadelphia</p>
			</div>
			<br class="clearFloat" />
		</div>
		<div id="get_to_know_us">
			<h4>GET TO KNOW US</h4>
			<p>Our mission is to kindle the love of language learning in young students. We love connecting with creative, engaging language teachers from all over the world to help us further this goal. Interested in getting in touch? <%= link_to "Drop us a line!", about_contact_us_path %></p>
		</div>
		<br class="clearFloat" />
		<p class="copyright">&copy; Animat, LLC 2005 - <%= Time.now.year %></p>
	</div>
</body>
</html>