<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= yield(:title) or 'Prima Lingua' %></title>
	<%= stylesheet_link_tag 'workspace' %>
	<%= stylesheet_link_tag 'rocanvas' %>
	<%= javascript_include_tag 'application' %>
	<link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
	<%= yield(:head) %>
	<%= yield(:page_script) %>
</head>
<body>
	<div id="<%= fullscreen_header_type %>">
		<div id="topnav">
			<div id="logo"></div>
		</div>
		<% if student_signed_in? %>
			<div id="nav">
				<div id="buttons">
					<%= link_to image_tag("workspace/button_signout.png"), destroy_student_session_path %>
					<%= link_to image_tag("workspace/button_settings.png"), edit_student_registration_path %>
				</div>
			</div>
			<div id="timeline">
				<a href="#" id="timeline_arrow_right"></a>
				<a href="#" id="timeline_arrow_left"></a>
				<div id="timeline_overlay">
					<div id="timeline_end_left"></div>
					<div id="timeline_end_right"></div>
				</div>
				<div id="timeline_lessons">
					
				</div>
			</div>
		<% elsif teacher_signed_in? %>
			<div id="nav">
				<%= link_to planning_teachers_path do %>
					<div class="nav_option">
						Planning
					</div>
				<% end %>
				<%= link_to grading_teachers_path do %>
					<div class="nav_option">
						Grading
					</div>
				<% end %>
				<%= link_to in_class_teachers_path do %>
					<div class="nav_option">
						In Class
					</div>
				<% end %>
				<div id="buttons">
					<%= link_to image_tag("workspace/button_home.png"), teacher_path(current_teacher) %>
					<%= link_to image_tag("workspace/button_signout.png"), destroy_student_session_path %>
				</div>
			</div>
		<% elsif admin_signed_in? %>
			<div id="nav">
				<div id="buttons">
					<%= link_to image_tag("workspace/button_home.png"), teacher_path(current_teacher) %>
					<%= link_to image_tag("workspace/button_signout.png"), destroy_student_session_path %>
				</div>
			</div>
		<% end %>
		<% unless flash[:notice].nil? %>
			<div id="flash_notice">Test<%= flash[:notice]%></div>
		<% end %>
		<% unless flash[:error].nil? %>
			<div id="flash_error"><%= flash[:error] %></div>
		<% end %>
	</div>
 	<div id="workspace">
 		
		<%= yield %>
	</div>
	
</body>
</html>