<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= yield(:title) or 'Prima Lingua' %></title>
	<%= stylesheet_link_tag 'workspace' %>
	<%= stylesheet_link_tag 'rocanvas' %>
	<%= javascript_include_tag 'application' %>
	<link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
	<%= yield(:head) %>
	<%= yield(:page_script) %>
</head>
<body>
	<div id="head">
		<div id="topnav">
			<div id="logo"></div>
		</div>
		<div id="nav">
			<div class="nav_option">
				Planning
			</div>
			<div class="nav_option">
				Grading
			</div>
			<div class="nav_option">
				In Class
			</div>
			<div id="buttons">
				<% if student_signed_in? %>
					<%= link_to image_tag("workspace/button_home.png"), destroy_student_session_path %>
					<%= link_to image_tag("workspace/button_notification.png"), root_url %>
					<%= link_to image_tag("workspace/button_settings.png"), edit_student_registration_path %>

				<% elsif teacher_signed_in? %>
					<%= link_to image_tag("workspace/button_home.png"), destroy_teacher_session_path %>
					<%= link_to image_tag("workspace/button_notification.png"), root_url %>
					<%= link_to image_tag("workspace/button_settings.png"), root_url %>

				<% elsif admin_signed_in? %>
					<%= link_to image_tag("workspace/button_home.png"), destroy_admin_session_path %>
					<%= link_to image_tag("workspace/button_notification.png"), root_url %>
					<%= link_to image_tag("workspace/button_settings.png"), root_url %>

				<% end %>
			</div>
		</div>
	</div>
 	<div id="workspace">
 		<% unless flash[:notice].nil? %>
			<p class="flash_notice"><%= flash[:notice]%></p>
		<% end %>
		<% unless flash[:error].nil? %>
			<p class="flash_error"><%= flash[:error] %></p>
		<% end %>
		<%= yield %>
	</div>
	
</body>
</html>