<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= @title or 'Prima Lingua' %></title>
	<%= stylesheet_link_tag 'application' %>
	<%= javascript_include_tag 'application' %>
	<link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
	<%= analytics_init if Rails.env.production? %>
	<link rel="icon" type="image/png" href="/favicon.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ios_icon.png" />
	<%= yield(:head) %>
	<%= yield(:page_script) %>
</head>
<body id="workspace">
	<div id="<%= fullscreen_header_type %>">
		<% if student_signed_in? %>
			<div id="topnav">
				<%= link_to workbook_student_path(current_student) do %>
					<div id="logo"></div>
				<% end %>
			</div>
			<div id="workspace_nav">
				<div id="buttons">
					<%= link_to image_tag("workspace/button_settings.png"), edit_student_registration_path %>
					<%= link_to image_tag("workspace/button_signout.png"), destroy_student_session_path %>
				</div>
			</div>
			<% if @lesson %>
				<div id="timeline">
					<%= link_to "", workbook_student_path(@student, @lesson.unit.next_unit_lesson), id: "timeline_arrow_right" %>
					<%= link_to "", workbook_student_path(@student, @lesson.unit.previous_unit_lesson), id: "timeline_arrow_left" %>
					<div id="timeline_overlay">
						<div id="timeline_end_left"></div>
						<div id="timeline_end_right"></div>
					</div>
					<div id="timeline_lessons">
						
					</div>
				</div>
				<div id="resource">
					<div>
						<%= render :partial => "resources/panel", :locals => {:resources => @lesson.unit.resources} %>
					</div>
					<div id="resource_button">
						<%= image_tag("workspace/resource_btn.png") %>
					</div>
				</div>
			<% end %>
		<% elsif teacher_signed_in? %>
			<div id="topnav">
				<%= link_to teacher_path(current_teacher) do %>
					<div id="logo"></div>
				<% end %>
			</div>
			<div id="workspace_nav">
				<div id="buttons">
					<%= link_to image_tag("workspace/button_home.png"), teacher_path(current_teacher) %>
					<%= link_to image_tag("workspace/button_signout.png"), destroy_student_session_path %>
				</div>
			</div>
			<% if @lesson %>
			<div id="resource">
				<div>
					<%= render :partial => "resources/panel", :locals => {:resources => @lesson.unit.resources} %>
				</div>
				<div id="resource_button">
					<%= image_tag("workspace/resource_btn.png") %>
				</div>
			</div>
			<% end %>
		<% elsif admin_signed_in? %>
			<div id="topnav">
				<%= link_to teachers_path do %>
					<div id="logo"></div>
				<% end %>
			</div>
			<div id="workspace_nav">
				<div id="buttons">
					<%= link_to image_tag("workspace/button_home.png"), teacher_path(current_teacher) %>
					<%= link_to image_tag("workspace/button_signout.png"), destroy_student_session_path %>
				</div>
			</div>
		<% end %>
		<% unless flash[:notice].nil? %>
			<div id="flash_notice"><%= flash[:notice]%></div>
		<% end %>
		<% unless flash[:error].nil? %>
			<div id="flash_error"><%= flash[:error] %></div>
		<% end %>
	</div>
 	<div id="workspace">
 		
		<%= yield %>
		<br class="clearFloat" />
	</div>
	
</body>
</html>